.navbar-brand {
  width: 50% !important;
}
.nav-item {
  padding: 0rem 1rem;
}
.nav-item:hover .dropdown-menu {
  display: block !important;
}
.nav-link:hover {
  color: #001d7e;
}
.nav-link a {
  color: #001d7e;
}

.dropdown-menu {
  border: none;
  border-radius: 20px;
  background-color: #dbe9fe8c;
}
.dropdown-item {
  display: block;
  margin: 1rem 1rem;
  font-weight: 400;
  color: #001d7e;
}

.dropdown-item:hover {
  display: block;
  font-weight: 600;
  color: #001d7e;
  background-color: #ffffff00;
}
.nav-link {
  font-size: 1.125rem;
  font-weight: 400;
  color: #001d7e;
  text-transform: uppercase;
  padding: 0;
}
.navbar-nav .nav-link.show {
  color: #001d7e;
}
.navbar-collapse .collapse {
    background-color: #dbe9fe8c;
}
.offcanvas{
    background-color:#D6E6FF;
}
.navbar-toggler{
    border: none;
    color: rgba(118, 23, 23, 0);
}
.btn-close{

}
