:root {
    /*   */
    --primary: #001d7e;
    --secondary: #a7a9b8; /* si es hover es secondary en los links*/
    --skyBlue: #cff4f4ba; /* background del contenedor del menu*/
    --fontiste: "Exo 2";
}

body {
  background: #fcf9fc none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--primary) !important;
  font-family: 'Exo 2', sans-serif;
}

a{
    text-decoration: none;
}

.text-iste{
    color: var(--primary);
    
}

/* title page*/

.container-iste {
  padding-left: 40px;
  padding-right: 40px;
}
.title-page {
  font-size: 2rem;
  padding: 10px 0px 10px;
  color: var(--primary);
  font-size: 44px;
  font-weight: 800;
}

@media (min-width: 320px){
   .map-responsive {
    overflow: hidden;
    padding-bottom: 20%;
    position: relative;
    height: 400px;
  } 
} 

/* navbar */
.navbar{
  border-bottom: 2px solid #001d7e;
}

.navbar-brand {
  width: 50% !important;
}

.nav-item {
  padding: 0rem 1rem;
}

.nav-item:hover .dropdown-menu {
  display: block !important;
}

.nav-link:hover {
  color: #001d7e;
}

.nav-link a {
  color: #001d7e;
}

.dropdown-menu {
  border: none;
  border-radius: 20px;
  background-color: #dbe9fe8c;
}

.dropdown-item {
  display: block;
  margin: 1rem 1rem;
  font-weight: 400;
  color: #001d7e;
}

.dropdown-item:hover {
  display: block;
  font-weight: 600;
  color: #001d7e;
  background-color: #ffffff00;
  font-size: 18px;
  transition: all .4s;
  animation-duration: 3s;
}

.nav-link {
  font-size: 1.125rem;
  font-weight: 400;
  color: #001d7e;
  text-transform: uppercase;
  padding: 0;
}

.navbar-nav .nav-link.show {
  color: #001d7e;
}

.navbar-collapse .collapse {
    background-color: #dbe9fe8c;
}

.offcanvas{
    background-color:#D6E6FF;
}

.navbar-toggler{
    border: none;
    color: rgba(118, 23, 23, 0);
}

/* sm menu */
.offcanvas.offcanvas-end {
  top: 0;
  right: 0;
  width: 80% !important;
  transform: translateX(100%);
  border-left:0px solid;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.btn-close{
  color: red;
  /* background-image: url("https://www.svgrepo.com/svg/476546/close") !important; */
}

.btn-close::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 12px;
  z-index: -1;
  border-radius: 50%;
  transition: border .3s,background .3s;
  /* background: #001D7E; */
  border: 1px solid #001D7E;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
  opacity: 0;
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #ececec11;
}

@media (max-width: 768px) {
  .sm-navbar-nav{
    padding-top: 50px;
  }
  .sm-navbar-nav>li{
    padding-top: 25px;
  }
}
/* sm menu */



/* Footer */
.containerText{
    display: flex;
    margin: 1.5rem 0;
}

.p-footer{
    color: var(--primary);
    font-family: "swap", Sans-serif;
    font-size: 13px;
    font-weight: 800;
    margin: 0em 0em 0em 0em;
}

.hover-fade-inactive:hover > li:hover > a {
  opacity: 1;
}

.a-hover:hover, a:focus{
    color: #008acb;
}

.icon-font-awsome {
    background-color: var(--primary);
    padding: 0.4rem;
    border-radius: 100px;
    color: #fff;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    font-size: 1rem;
}

.spacing{
    height: 2px;
    width: 100%;
    background-color: var(--primary);
    opacity: 1;
}
